In [1]:
#Exercise 1

In [8]:
#1 

# pip install pandas

import pandas as pd

In [9]:
#2

file_path = "C:\\Users\\User\\Desktop\\DI-Bootcamp\\week5\\day2\\chipo.csv"
chipo = pd.read_csv(file_path)

In [10]:
#3

print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [11]:
#4

print("Total number of entries (rows):", chipo.shape[0]) # .shape[0] refers to the first element

Total number of entries (rows): 4622

In [12]:
#5

print("Total number of columns:", chipo.shape[1])

Total number of columns: 5

In [13]:
#6

print("Column names:", chipo.columns)

Column names: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
#7

print("Index:", chipo.index)

Index: RangeIndex(start=0, stop=4622, step=1)

In [15]:
#8

print("Most ordered item:\n", chipo['item_name'].value_counts().head(1))

Most ordered item:
 item_name
Chicken Bowl    726
Name: count, dtype: int64

In [16]:
#9

total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

In [17]:
#10

print("Most ordered item from 'choice_description':\n", chipo['choice_description'].value_counts().head(1))

Most ordered item from 'choice_description':
 choice_description
[Diet Coke]    134
Name: count, dtype: int64

In [18]:
#11

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [19]:
#12

total_revenue = chipo['item_price'].sum()
print("Total revenue:", total_revenue)

Total revenue: 34500.16

In [20]:
#13

total_orders = chipo['order_id'].nunique()
print("Total number of orders:", total_orders)

Total number of orders: 1834

In [21]:
#14

average_order_value = total_revenue / total_orders
print("Average order value:", average_order_value)

Average order value: 18.811428571428575

In [22]:
#15

unique_items_sold = chipo['item_name'].nunique()
print("Total number of unique items sold:", unique_items_sold)

Total number of unique items sold: 50

In [23]:
#---------------------------------------------------------

In [24]:
#Exercise 2

In [25]:
count_expensive_products = chipo[chipo['item_price'] > 10]['item_name'].nunique()

print("Count of products that cost more than $10:", count_expensive_products)

Count of products that cost more than $10: 31

In [26]:
#---------------------------------------------------------

In [27]:
#Exercise 3

In [41]:
file_path2 = "C:\\Users\\User\\Desktop\\DI-Bootcamp\\week5\\day2\\users.csv"
users = pd.read_csv(file_path2, sep='|')

In [45]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean()
print(mean_age_per_occupation)

In [46]:
#----------------------------------------------------------

In [47]:
#Exercise 4

In [48]:
import numpy as np

In [50]:
data1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

data2 = pd.DataFrame({
    'ID': [4, 5, 6],
    'Name': ['David', 'Eva', 'Frank']
})

data3 = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5, 6],
    'Score': np.random.randint(0, 101, size=6)  # Generating random scores between 0 and 100
})


print("data1:\n", data1)

print("data2:\n", data2)

print("data3:\n", data3)
print(data3)

data1:
    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
data2:
    ID   Name
0   4  David
1   5    Eva
2   6  Frank
data3:
    ID  Score
0   1     12
1   2     37
2   3     85
3   4     50
4   5      6
5   6     64
   ID  Score
0   1     12
1   2     37
2   3     85
3   4     50
4   5      6
5   6     64

In [51]:
all_data = pd.concat([data1, data2], ignore_index=True)

In [52]:
print("\nall_data (merged along rows):", all_data)

all_data (merged along rows):    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eva
5   6    Frank

In [53]:
all_data_col = pd.concat([data1, data2], axis=1)
print("\nall_data_col (merged along columns):", all_data_col)

all_data_col (merged along columns):    ID     Name  ID   Name
0   1    Alice   4  David
1   2      Bob   5    Eva
2   3  Charlie   6  Frank

In [54]:
#---------------------------------------------------------

In [55]:
#Exercise 5

In [57]:
file_path3 = "C:\\Users\\User\\Desktop\\DI-Bootcamp\\week5\\day2\\iris-data.csv"
iris = pd.read_csv(file_path3)

In [60]:
print("First few rows of 'iris': \n", iris.head())

First few rows of 'iris':
    5.1,3.5,1.4,0.2,Iris-setosa
0  4.9,3.0,1.4,0.2,Iris-setosa
1  4.7,3.2,1.3,0.2,Iris-setosa
2  4.6,3.1,1.5,0.2,Iris-setosa
3  5.0,3.6,1.4,0.2,Iris-setosa
4  5.4,3.9,1.7,0.4,Iris-setosa

In [61]:
missing_values = iris.isnull().sum()

print("\nMissing values in 'iris':\n", missing_values)

Missing values in 'iris':
 5.1,3.5,1.4,0.2,Iris-setosa    1
dtype: int64

In [62]:
#---------------------------------------------------------

In [63]:
#Exercise 6

In [64]:
pokemon_data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

In [67]:
pokemon = pd.DataFrame(pokemon_data)
pokemon_reordered = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

In [68]:
print("\nReordered 'pokemon' DataFrame:\n", pokemon_reordered)

Reordered 'pokemon' DataFrame:
          name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [69]:
#---------------------------------------------------------

In [70]:
#Exercise 7

In [71]:
file_path4 = "C:\\Users\\User\\Desktop\\DI-Bootcamp\\week5\\day2\\baby_names.csv"
baby_names = pd.read_csv(file_path4)

In [74]:
print("First 10 entries of 'baby_names':\n", baby_names.head(10))

First 10 entries of 'baby_names':
    Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [75]:
columns_to_drop = ['Unnamed: 0', 'Id']
baby_names_cleaned = baby_names.drop(columns=columns_to_drop, errors='ignore')

In [76]:
print("\nDataFrame after dropping columns:\n", baby_names_cleaned)

DataFrame after dropping columns:
             Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

In [77]:
#---------------------------------------------------------

In [78]:
#Exercise 8

In [79]:
temperature = [30, 31, 29, 32, 33, 34, 28, 27, 25, 35]
humidity = [80, 75, 70, 85, 90, 80, 75, 60, 65, 70]
wind_speed = [5, 6, 7, 8, 9, 4, 10, 5, 6, 7]

In [80]:
date_rng = pd.date_range(start='2021-01-01', end='2021-01-10', freq='D')

weather_data = pd.DataFrame({'Date': date_rng, 'Temperature': temperature, 'Humidity': humidity, 'Wind_Speed': wind_speed})

In [81]:
print("Original DataFrame:", weather_data)

Original DataFrame:         Date  Temperature  Humidity  Wind_Speed
0 2021-01-01           30        80           5
1 2021-01-02           31        75           6
2 2021-01-03           29        70           7
3 2021-01-04           32        85           8
4 2021-01-05           33        90           9
5 2021-01-06           34        80           4
6 2021-01-07           28        75          10
7 2021-01-08           27        60           5
8 2021-01-09           25        65           6
9 2021-01-10           35        70           7

In [82]:
frequency = pd.infer_freq(weather_data['Date'])
print(f"\nThe frequency of the dataset is {frequency}.")

The frequency of the dataset is D.

In [83]:
weather_data.set_index('Date', inplace=True)

print("\nDataFrame with 'Date' as the index:\n", weather_data)

DataFrame with 'Date' as the index:
             Temperature  Humidity  Wind_Speed
Date
2021-01-01           30        80           5
2021-01-02           31        75           6
2021-01-03           29        70           7
2021-01-04           32        85           8
2021-01-05           33        90           9
2021-01-06           34        80           4
2021-01-07           28        75          10
2021-01-08           27        60           5
2021-01-09           25        65           6
2021-01-10           35        70           7